# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List commonly used libraries used by Data Scientist
- Convert 200 minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Matlab

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. NumPy

|Data Science Tools|
--------------------
|Jupyter Notebook|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print("200 minutes =",hours,"hours")

200 minutes = 3.3333333333333335 hours

## Author
Julen Claveras